name = "climograph-guesser"
compatibility_date = "2024-12-16"
pages_build_output_dir = "dist"

[build]
command = "npm run build"

[build.upload]
format = "service-worker"

[[routes]]
pattern = "/*"
zone_name = "climo.statplay.site"